* {
  font-family: "Open Sans", Arial, sans-serif !important;
}

.poppins-police {
  font-family: "Poppins", sans-serif !important;

  > * {
    font-family: "Poppins", sans-serif !important;
  }
}


.v-application--wrap {
  min-height: unset !important;
  align-items: center !important;
}

.v-application {
  a {
    color: var(--v-tertiary-darken2) !important;
  }

  .font-weight-bold {
    font-weight: 900 !important;
  }
}

.v-tabs-items {
  border-radius: 1% 1% 0 0;
}

.tooltip {
  position: absolute !important;
  opacity: 0.9;
  top: 20px;
  left: 20px;
  width: 90%;
  z-index: 10;
}

input, form, textarea {
  box-shadow: inherit;
}

p {
  font-size: 14px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@media (max-width: 450px) {
  .subtitles {
    font-size: 1rem !important;
  }
}

// hide tabs arrow if visibility is none
.v-slide-group__prev--disabled {
  display: none !important;
}

.v-stepper__label, .v-label {
  margin-left: 0.5em;
}

.v-stepper--vertical .v-stepper__content {
  padding: unset !important;
  border-left: unset !important;
}

.v-btn.primary .v-btn__content {
  color: white !important;
}

#app .v-card__title {
  word-break: inherit;
}

.v-tab {
  font-size: 16px !important;
  text-transform: none !important;
  color: #6F6C90 !important;
  opacity: 0.5 !important;
}

.tab-active {
  color: $primary !important;
  opacity: unset !important;
}

.btn-container {
  @media (max-width: 450px) {
    flex-direction: column;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px
}

.cg-btn {
  border-radius: 56px;
  padding: 20px 40px !important;
  height: unset !important;
  text-transform: none !important;
  font-size: 18px !important;
  line-height: 20px !important;
  font-weight: 700 !important;
  //font-family: 'DM Sans' !important;

  &.previous {
    font-weight: 400 !important;
    border: 1px solid $primary !important;
    background: transparent !important;
    color: $primary !important;
  }
}

a.cg-btn {
  display: inline-block;
  color: white !important;
  background: $primary !important;
}

#paymentStep .v-stepper, #paymentStep .v-stepper__header {
  box-shadow: none !important;
}

// empécher les tooltip d'apparaître dans le footer
.v-tooltip__content {
  top: 12px !important;
}

.v-dialog__content {
  align-items: end !important;
}

.v-input--checkbox {
  i {
    color: $primary !important;
  }
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}

.cg-divider {
  background: #D9DBE9;
  width: 92%;
  margin-left: 4% !important;
}
