.text-no-transform {
  text-transform: none !important;
}

.v-text-field--outlined.v-input--is-focused fieldset {
  border-width: 1px;
}

.input-right input {
  text-align: right;
}

.v-text-field--outlined.v-file-input {
  fieldset {
    border-radius: unset !important;
    border-color: $primary;
  }

  .v-icon:not(.error--text) {
    color: $primary !important;
  }

  label:not(.error--text) {
    color: $primary !important;
  }
}

.subtitles {
  font-weight: bolder;
  font-size: 1.25rem;
  padding: 12px 0;
}

.cg-base-text {
  font-weight: 400;
  color: $primary;
  font-size: 18px;
  line-height: 20px;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 16px;
    line-height: 18px;
  }

  &.text-bolder {
    font-weight: 500;
  }

  &.light {
    color: #6F6C90;
  }

  &.lower {
    font-size: 16px;
    line-height: 24px;
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.cg-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: $primary;
  margin-bottom: 24px;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 20px;
    line-height: 24px;
  }
}
