.text-no-transform {
  text-transform: none !important;
}

.v-text-field--outlined.v-input--is-focused fieldset {
  border-width: 1px;
}

.input-right input {
  text-align: right;
}

.subtitles {
  font-weight: bolder;
  font-size: 1.25rem;
  padding: 12px 0;
}

.cg-base-text {
  font-weight: 400;
  color: $primary;
  font-size: 18px;
  line-height: 20px;

  &.text-bolder {
    font-weight: 500;
  }

  &.light {
    color: #6F6C90;
  }
}

.cg-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: $primary;
  margin-bottom: 24px;
}
