#full-form {
  .v-btn.primary {
    color: black !important;
  }

  .v-btn.tertiary {
    color: white;
    .form-icon {
      // white
      filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(316deg) brightness(107%) contrast(104%);
    }
  }

  .v-tooltip__content {
    @media #{map-get($display-breakpoints, 'sm-and-up')} {
      left: 33% !important;
    }
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
      left: 25% !important;
    }
  }
}