<div class="form-block">
    <h2>Informations de la personne</h2>
    <label for="customer-type">Type *</label><br>
    <select type="text" id="customer-type" name="customer[type]" required>
        <option value="individual">Particulier</option>
        <option value="company">Entreprise</option>
    </select>

    <div id="customer-company-name-block">
        <label for="customer-company-name">Nom de l'entreprise *</label><br>
        <input type="text" id="customer-company-name" name="customer[company_name]"><br>
    </div>

    <label for="customer-first-name">Prénom *</label><br>
    <input type="text" id="customer-first-name" name="customer[first_name]" required><br>

    <label for="customer-last-name">Nom *</label><br>
    <input type="text" id="customer-last-name" name="customer[last_name]" required><br>

    <label for="customer-address">Adresse *</label><br>
    <input type="text" id="customer-address" name="customer[address]" required><br>

    <label for="customer-city">Ville *</label><br>
    <input type="text" id="customer-city" name="customer[city]" required><br>

    <label for="customer-postcode">Code postal *</label><br>
    <input type="text" id="customer-postcode" name="customer[postal_code]" required><br>

    <label for="customer-country">Pays *</label><br>
    <input type="text" id="customer-country" name="customer[country]" required><br>

    <label for="customer-email">Email *</label><br>
    <input type="text" id="customer-email" name="customer[email]" required><br>

</div>