<div class="form-block">
    <h2>Informations du don</h2>

    <div id="donation-unique-date-block">
        <label for="donation-date">Date du don *</label><br>
        <input type="date" id="donation-date" name="donation[donation_date]" required><br>
    </div>

    <label for="donation-price">Prix payé *</label><br>
    <input type="text" id="donation-price" name="donation[amount]" required><br>

    <label for="donation-payment-method">Méthode de paiement *</label><br>
    <select id="donation-payment-method" name="donation[payment_method]" required>
        <option value="credit_card">Carte de crédit</option>
        <option value="bank_transfert">Virement bancaire</option>
    </select>

    <label for="donation-language">Langue *</label><br>
    <select id="donation-language" name="donation[lang]" required>
        <option value="fr">Français</option>
        <option value="en">Anglais</option>
    </select>

</div>