<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Adopte un corail{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ assets_path ~ "css/forms.css" }}"/>
    <script type="text/javascript" src="{{ assets_path ~ "js/admin-form.js" }}"></script>

</head>

<body>
{% block body %}
{% endblock %}
</body>

</html>