//vuetify vars
$body-font-family: 'Open sans', sans-serif !important;
$header-font-family: 'Open sans', sans-serif !important;

//color vars
$primary: var(--v-primary-base);
$secondary: var(--v-secondary-base);
$tertiary: var(--v-tertiary-base);

//styling vars
$base-border-radius: 2% !important;
$form-height: 550px;
$incrementor-size: 70px
